$tablet: 991.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	> main {
		flex: 1 1 auto;
	}
	> * {
		min-width: 0;
	}
}


[class*="__container"] {
  max-width: 70.75rem;
  padding: 0 1rem;
  margin: 0 auto;
  
}

.button {
  &.button-lg {
    min-height: 3.25rem;
    padding: 1rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.2;
  }
  &.button-sm {
    min-height: 1.875rem;
    padding: 4px 1rem;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.2;
    justify-content: center;
    text-align: center;
  }
  &.button-with-arrow {
    display: inline-flex;
    align-items: center;
    gap: 1.25rem;
    &:hover{
      i {
        transform: translateX(5px);
      }
    }
    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s;
      svg path{
        transition: all 0.3s;
      }
    }
  }
  &.button-green--border {
    border: 1px solid  var(--mainColor);
    color: var(--mainColor);
    transition: all 0.3s;
    &:hover{
      background-color: var(--mainColor);
      color: #fff;
      &.button-with-arrow {
        i {
          svg path{
            fill: #fff;
          }
        }
      }
    }
    &:active{
      background-color: darken(#134A45, $amount: 5);
    }
  }
  &.button-green {
    background-color: var(--mainColor);
    color: #fff;
    transition: all 0.3s;
    &.button-with-arrow {
      svg path {
        fill: #fff;
      }
    }
    &:hover{
      background-color: darken(#134A45, $amount: 5);
      color: #fff;
      &.button-with-arrow {
        i {
          svg path{
            fill: #fff;
          }
        }
      }
    }
    &:active{
      background-color: darken(#134A45, $amount: 7);
    }
  }
  &.button-pink {
    background-color: var(--pink);
    color: #fff;
    transition: all 0.3s;
    &.button-with-arrow {
      svg path {
        fill: #fff;
      }
    }
    &:hover{
      background-color: darken(#B961CD, $amount: 5);
      color: #fff;
      &.button-with-arrow {
        i {
          svg path{
            fill: #fff;
          }
        }
      }
    }
    &:active{
      background-color: darken(#B961CD, $amount: 7);
    }
  }
}

.link-menu {

  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  position: relative;
  &::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: .0625rem;
    transition: all 0.3s;
  }
  &--green {
    transition: color 0.3s;
    color: var(--mainColor);
    &::before{
      background-color: var(--mainColor);
    }
    &:hover{
      &::before{
        width: 100%;
      }
    }
  }
  &--gray {
    transition: color 0.3s;
    color: rgba(203, 208, 213, 0.73);
    &::before{
      content:'';
      background-color: rgba(203, 208, 213, 0.73);
    }
    &:hover{
      &::before{
        width: 100%;
      }
    }
  }
}

.title-h1 {
  color: var(--mainColor);

  font-weight: 400;

  @media (min-width:$mobileSmall){
    font-size: 3.9375rem;
    line-height: 1.2;
    letter-spacing: 2px;      
  }
  @media (max-width:$mobileSmall){
     font-size: 2.5rem; 
  }
}

.title-h2 {
  color: var(--mainColor);

  font-weight: 400;
  line-height: 1.3;
  @media (min-width:$mobileSmall){
    font-size: 3rem; 
  }
  @media (max-width:$mobile){
     font-size: 2rem; 
  }
  @media (min-width:$mobileSmall){
    letter-spacing: 0.6px; 
  }
}

.subheading {

  font-size: .8125rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 4px;
  text-align: left;
  text-transform: uppercase; 
  &--gray {
    color: var(--gray);
  }
  &--green {
    color: var(--green);
  }
}

.section-gray {
  background-color: var(--gray);
}

.section-gray2 {
  background-color: var(--gray2);
}

.section-green {
  background-color: var(--mainColor);
}

.description {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
  @media (min-width:$mobile){
     font-size: 1.0625rem; 
  }
  @media (max-width:$mobile){
     font-size: .9375rem; 
  }
}

.lock {
  body {
    overflow: hidden;
  }
}