$tablet: 991.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S


.how-doit {
  @media (min-width:$mobile){
     padding: 6.25rem 0; 
  }
  @media (max-width:$mobile){
     padding: 3.125rem 0; 
  }
  &__content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

  }
  &__info {
    @media (min-width:$mobile){
       max-width: 28.875rem; 
    }
  }
  &__image {
    img {
      max-width: 34.375rem;
      width: 1005px;
      object-fit: cover;
    }
  }
  &__description {
    p {
      @media (min-width:$mobile){
         margin-bottom: 1.5rem; 
      }
      @media (max-width:$mobile){
         margin-bottom: 1rem; 
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .subheading {
    @media (min-width:$tablet){
       margin-bottom: 1.875rem; 
    }
    @media (max-width:$mobile){
       margin-bottom: 1.125rem; 
    }
  }
  &__title {
    @media (min-width:$mobile){
       margin-bottom: 2.1875rem; 
    }
    @media (max-width:$mobile){
       margin-bottom: 1.25rem; 
    }
  }
}