$tablet: 991.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S


.want-to-help {
  background-color: rgb(150, 201, 233);
  @media (min-width:$mobile){
     padding: 6.875rem 0 1.125rem 0; 
  }
  @media (max-width:$mobile){
     padding: 3.125rem 0; 
  }
  &__content {
   display: flex;
   align-items: center;
   justify-content: center;
  }
  &__body {
    @media (min-width:$mobile){
      max-width: 46.875rem;
      text-align: center;
   }
  }
  &__title {
    margin-bottom: 1.875rem;
  }
  &__description {
    color: var(--mainColor);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    @media (min-width:$mobile){
       margin-bottom: 2.75rem; 
    }
    @media (max-width:$mobile){
       margin-bottom: 1.5rem; 
    }
  }
  .button {
    justify-content: center;
    @media (min-width:$mobileSmall){
       min-width: 21.25rem; 
    }
    @media (min-width:$mobile){
       font-size: 1.625rem; 
    }
    @media (max-width:$mobile){
       font-size: 1.25rem; 
    }
    @media (max-width:$mobileSmall){
       width: 100%; 
    }
    i {
      svg {
        width: 24px;
        height: 20px;
      }
    }
  }
}