$tablet: 991.98px; // Планшети, деякі телефони в горизонтальному положенні
$mobile: 767.98px; // Телефони L
$mobileSmall: 479.98px; // Телефони S

.hero {
  margin: 3.75rem 0 1.875rem 0;
  &__info {
    max-width: 28.125rem;
  }
  &__title {
    @media (min-width:$mobile){
      margin-bottom: 2.5rem; 
    }
    @media (max-width:$mobile){
       margin-bottom: 1.25rem; 
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem 4.375rem;
    @media (max-width:$mobile){
       flex-wrap: wrap;
       align-items: flex-start;
       flex-direction: column;
    }
  }
  &__images {
    @media (min-width:$mobile){
      margin-right: 2.5rem; 
      max-width: 33.125rem;
      max-height: 30.3125rem;
    }
      

        display: grid;
        grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(12, 1fr);
        @media (min-width:$tablet){
          gap: 1.875rem; 
        }
        @media (max-width:$tablet){
          gap: 1rem;
        }
        
        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .div1 { grid-area: 1 / 1 / 13 / 2; }
        .div2 { grid-area: 1 / 2 / 8 / 3; }
        .div3 { grid-area: 8 / 2 / 13 / 3; }
  }
  &__subtitle {
    @media (min-width:$mobile){
      margin-bottom: 3.75rem; 
    }
    @media (max-width:$mobile){
       margin-bottom: 2rem; 
    }
    p {
      color: var(--mainColor);
      @media (min-width:$mobile){
        font-size: 1.25rem; 
      }
      @media (max-width:$mobile){
         font-size: .875rem; 
      }
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0.2px;
    }
  }
  &__button {
    .button {
      min-width: 13.75rem;
      @media (max-width:$mobileSmall){
         width: 100%;
         min-height: 2.5rem;
      }
    }
  }
}